{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "globals": { "globalThis": false, "ApiError": false, "throwApiError": false },
  "parserOptions": {
    "ecmaVersion": 2019,
    "requireConfigFile": false
  },

  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "consistent-return": "off",
    "no-useless-catch": "off",
    "no-useless-concat": "off",
    "no-unused-vars": "error",

    "class-methods-use-this": "off",
    "import/no-mutable-exports": "off",
    "prettier/prettier": ["error"],
    "no-underscore-dangle": "off",
    "no-undef": "error",
    "semi": "error",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-await-in-loop": "off",
    "no-console": "warn",
    "no-param-reassign": "warn"
  }
}
